/* ================================================== layout ================================================== */

html, body{
    height: 100%;
}

body {
    background: url('Imagens/bg.jpg') center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    background: linear-gradient(90deg,rgba(240, 0, 188, 0.9), rgba(2, 141, 255, 0.9)), url('Imagens/bg.jpg') center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0; /* Coloque o pseudo-elemento atrás do conteúdo */
}

.conteudo {
    position: relative;
    z-index: 1;
    color:white;
}

.img-logo{
    height: 40px;
    width: 132px;
    display: block;
    background: url(Imagens/Spotify_Logo_White.png) no-repeat;
    background-size: contain;
    color: transparent;
}

.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 13px 10px;
}

nav.navbar-transparante{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

nav{
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}









/* ================================================ tipografia ================================================= *