body{
    background-color: rgb(251, 255, 0);
}

h1{
    color: rgb(255, 0, 0);
}

footer{
    text-align: center;
    font-size: 150%;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

