body{
    background-color: yellow;
}

h1{
    color: blue;
    font-size: 40px;
    text-shadow: 4px 4px 4px rgb(151, 143, 143);
}

h2{
    color: rgb(112, 112, 230);
    text-align: center;
}

p{
    color: gray;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#links{
    text-align: center;
}

